/* h1 {
    color: red;
    font-size: large;
} */

/* Element Selector */
/* Class Selector - We can give any class name of our choice*/

.red {
    color: red;
    font-size: large;
}
.green {
    color: green;
    font-size: large;
}

table,td,th,tr {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

/* li{
    list-style: none;
} */

/*
{} ----> Declaration Box

each line in declaration box is called one CSS declaration;

css-selector {
    prop-name1: prop-val1;
    prop-name2: prop-val2;
};
*/